/* helps center everything since i am using 20px margins*/
#info-container{
  max-width:1200px;
  margin:auto;
}

.info-here{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:2%;
	display:block;
	max-width:1200px;
  background: rgba(255,255,255,0.8);
  padding: 4%;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0 10px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow:         0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

/* fonts */
.info-title{
}

.info-title2{
}

.info-title3{
}

.info-title4{
}

.info-p{
  /* not sure what font yet due to the 1200px width*/
  font-size:15px;
}

.videoBlock {
	float: left;
	width: 100%;
	margin-bottom:20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-large{
  width:100%;
}

.image-medium{
}

.image-small{
}

/* -----------------submit button for contact page -----------------*/
.submit-button{
  margin-right:auto;
  margin-left: auto;
  background-color: rgba(255,255,255,0.5);
  color: black;
  border: 1px solid rgba(200,200,200,1);
  border-radius: 5px;
  cursor: pointer;
  width:100px;
  height:40px;
  font-size:18px;
}

.submit-button:hover{
  background-color: rgba(0,0,0,0.5);
  color: white;
}

/*--------------- slider stuff -----------------*/
.swiper-container {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}






